<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Salzinnes Antiphonal (CDN-Hsmu M2149.L4)</title>
    <link rel="stylesheet/less" type="text/css" href="{{app_root}}{{static_url("css/style.less")}}" />
    <link rel="stylesheet" href="{{app_root}}{{static_url("css/diva.css")}}" type="text/css" />
    <link rel="stylesheet" href="{{app_root}}{{static_url("css/jquery-ui.css")}}" type="text/css" />
    <script src="{{app_root}}{{static_url("js/less-1.1.3.min.js")}}" type="text/javascript"></script>
    <script src="{{app_root}}{{static_url("js/jquery.min.js")}}" type="text/javascript"></script>
    <script src="{{app_root}}{{static_url("js/jquery-ui.min.js")}}" type="text/javascript"></script>
    <script src="{{app_root}}{{static_url("js/diva-utils.js")}}" type="text/javascript"></script>
    <script src="{{app_root}}{{static_url("js/diva.js")}}" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#document-pane').diva({
                appRoot: '{{app_root}}',
                tileFadeSpeed: 100,
                fixedHeightGrid: true,
                enableAutoTitle: false,
                enableFullscreen: false,
                iipServerBaseUrl: '{{ iip_server }}',
                backendServer: '{{app_root}}/divaserve/?q=1'
            });
            $("#infobox").dialog({
                autoOpen: false,
                title: 'Salzinnes manuscript viewer',
                width: 800,
                height: 650,
                modal: true,
                draggable: false,
                resizable: false,
                buttons: [
                 {text: "Close", click: function() { $(this).dialog("close"); } }
                ]
            });
            $("#info-icon").click(function() {
                $("#infobox").dialog('open');
              });
        });
    </script>
</head>
<body>
    <div id="wrap">
        <div id="toolbar">
            <div id="titlebar">Salzinnes Antiphonal (CDN-Hsmu M2149.L4)</div>
            <form id="diva-goto-page">
            <ul id="left-buttons">
                <li class="double-button"><div id="document-icon"></div><div id="grid-icon"></div><span>Toggle grid</span></li>
                <li class="large-button"><div id="slider"></div><span>Control zoom</span></li>
                <li class="double-button"><div id="previous-icon"></div><div id="next-icon"></div><span>Previous/Next</span></li>
                <li class="medium-button"><div id="goto-page"><input placeholder="" /></div><span>Go to folio/page</span></li>
                <li class="huge-button"><div id="select-feast"><select size="1" name="feast">
                      {% for f in feasts %}
                      <option value="{{escape(f[1])}}">{{ escape(f[0]) }} ({{escape(f[1])}})</option>
                      {% end %}
                    </select>
                </div><span>Go to feast</span></li>
            </ul>
            </form>
            <ul id="right-buttons">
                <li class="small-button"><div id="link-icon"></div><span>Link</span></li>
                <li class="small-button"><div id="info-icon"></div><span>Info</span></li>
            </ul>
        </div>
        <div id="search-pane">
            <div id="search-box">
                <form><input type="text" name="search" /></form><div id="back-forward-icons"><div id="back-icon"></div><div id="forward-icon"></div></div><div id="clear-results"><img src="{{app_root}}{{ static_url('img/x.png') }}" /></div>
            </div>
            <div id="search-outer">
                <div id="search-results"></div>
            </div>
        </div>
        <div id="document-pane">
        </div>
        <div id="context-pane">
            <div id="info-outer">
                <div id="current-folio" class="larger-text">
                  <strong>Folio:</strong> <span>N/A</span>
                </div>
                <div id="current-folio-feasts" class="larger-text">
                  <strong>Feasts on this folio:</strong> <span>N/A</span>
                </div>
                <div id="current-folio-illumination" class="larger-text">
                  <strong>Illumination:</strong> <span>N/A</span>
                </div>
                <hr style="margin-top:0.5em; margin-bottom:0.5em; background-color:#000; color:#000; height:2px; border:none">
                <div id="page-data">
                </div>
            </div>
        </div>
    </div>
    <div id="infobox" style="display:none;">
      <h2>Salzinnes manuscript viewer</h2>
      <p style="margin-top:0.5em;">Use the left column to search through the manuscript. You can search for any chant text that appears in the manuscript.
      You can also query by the name of the feast that the chant occurs in (in English or the Latin abbreviations).<br>
      Click on a result to go to the page that the chant appears on.
      The right column shows the incipit of all chants on the currently visible page. Click the text of an incipit to expand it and see additional information
      about the chant.</p>

      <p style="margin-top:1em;">This manuscript appears with kind permission from the
      <a target="_blank" href="http://www.smu.ca/administration/library/">Patrick Power Library</a>, Saint Mary's University, Halifax.
      Digital Images courtesy of Judith Dietz.</p>

      <p style="margin-top:0.5em;">Chant data is provided by the <a target="_blank" href="http://cantusdatabase.org/">CANTUS project</a>.
      <a target="_blank" href="http://cantusdatabase.org/source/374146/cdn-hsmu-m2149l4">More information on CDN-Hsmu M2149.L4</a>.
      </p>

      <p style="margin-top:0.5em;">This viewer was developed by <a target="_blank" href="http://ddmal.music.mcgill.ca/">DDMAL</a> as part of the
      <a target="_blank" href="http://simssa.music.mcgill.ca/">SIMSSA</a> project. Development is sponsored by the Social Sciences and Humanities Research Council of Canada.
      Powered by <a target="_blank" href="http://ddmal.music.mcgill.ca/diva">Diva.js</a>.</p>

      <p style="margin-top:0.5em;">Analysis and development by Alastair Porter, Andrew Hankinson, Catherine Motuz, Remi Chiu, Saining Li, and Wendy Liu.</p>
 
      <p style="margin-top:0.5em; width:100%; text-align:center;"><img src="{{app_root}}{{static_url("img/cantus.gif")}}" width="300"><br>
      <table style="border-spacing:1em;"><tr>
          <td><img style="margin-top:0.3em;" src="{{app_root}}{{static_url("img/sshrc-logo.jpg")}}" width="350"></td>
          <td><img style="margin-top:0.3em;" src="{{app_root}}{{static_url("img/schulich-logo.png")}}" width="350"></td>
        </tr><tr>
          <td><img style="margin-top:0.3em;" src="{{app_root}}{{static_url("img/cirmmt_logo.jpg")}}" width="350"></td>
          <td><img style="margin-top:0.3em;" src="{{app_root}}{{static_url("img/ddmal400.jpg")}}" width="350"></td>
      </tr></table>
    </div>
</body>
</html>
